<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- If starting under CLR4, we want to load all CLR2 assemblies -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <!-- Prefer CLR4 over CLR2. This is a bit odd for CLR4 present with Foundation 3.0 installed. But if Foundation 3.1 is installed, it requires CLR4 for Foundation.IO. -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>